page-seen-people-msg {
	.gray-content{
		background:#f0f0f0;
	}
	.toolbar-background-md{
		background: #73aa19;
	
	}
	.back-button.show-back-button, .toolbar-title {
		color:white;
		text-align: center;
		font-size: 16px;
	}	
	.toolbar-md{
		min-height: auto;
	}
}
