<ion-header>
 <ion-row style="box-shadow: 0px 0px 3px #ccc;">
    <ion-col col-4>
      <img src="assets/dashboard/Pic (5).png"  (click)="message()" style="height: 30px; width:40px">
      <ion-badge class="notification" style="left:27%">{{Messages}}</ion-badge>
      
    </ion-col>
    <ion-col col-4><img class="logo" (click)="dashboard()" src="{{Logos}}" /></ion-col>
    <ion-col col-4>
      <img item-right src="assets/dashboard/Pic (4).png" menuToggle="right"  style="height: 30px; width:30px; position: absolute; right: 10px">
    </ion-col>
  </ion-row>
  <ion-row>
 <ion-col col-3>
    <img class="tabIcon" (click)="myProfile()" src="assets/profile.png" />
  </ion-col>
  <ion-col col-3>
    <img class="tabIcon" (click)="contacts()" src="assets/contactActive.png" />
    <ion-badge class="notification">{{ContactBook}}</ion-badge>
  </ion-col>
  <ion-col col-3>
    <img class="tabIcon" (click)="dailyNews()" src="assets/daily.png"  />
    <ion-badge class="notification">{{DailyNews}}</ion-badge>
  </ion-col>
  <ion-col col-3> 
    <img class="tabIcon" (click)="timeline()" src="assets/coin.png"/>
  </ion-col>
</ion-row>
  <ion-navbar >
      <ion-title>Contact Book : Received message box</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="gray-content" >

<ion-list>
  <ion-item (click)="detailed(item.MessageID)" *ngFor="let item of overallresponseData">
    <ion-thumbnail item-start>
      <img src="{{item.SenderImage}}">
    </ion-thumbnail>
    <h2>{{item.MessageTitle}}</h2>
    <h3>{{item.MessageDescription}}</h3>
    <p>{{item.SenderName}}</p>
        <span item-end>
      <p>{{item.DateAdded}}</p>
   
      
      <img src="assets/attach.png" *ngIf="item.HaveAttachment" width="30px" style="margin-top: 10px" />
      <img [src]="item.IsSaved ? 'assets/saveActive.png' : 'assets/save.png'" width="30px" style="margin-top: 10px">
      <!-- <img src="assets/save.png" width="25px"  style="margin-top: 10px" /> -->
    </span>
  </ion-item>
  
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="Cuurentpage < TotalNumber">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-list>

</ion-content>
<ion-footer>
  <ion-item style="background: transparent; border: none">
    <img item-end (click)="write()" src="assets/newMsg.png" width="70px" height="70px">
  </ion-item>
  <ion-row class="toolbar-background-md" >
    <ion-col col-4 >
        <button ion-button round class="btn-app" (click)="contactReceived()" >
        Received </button>
      </ion-col>
      <ion-col col-4 >
        <button ion-button round class="btn-app" (click)="contactSent()">Sent</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button round class="btn-app" (click)="contactSaved()">Saved</button>
      </ion-col>
  </ion-row>  
 </ion-footer>

