page-coin-timeline {
.toolbar-background-md{
		background: #ffaa14;
	
	}
	.back-button.show-back-button, .toolbar-title {
		color:white;
		text-align: center;
		font-size: 16px;
	}	
	.toolbar-md{
		min-height: auto;
	}
	.coin{
		width:40px;
		height:40px;
	}

	.arrow{
		width: 15px;
		height:40px;
	}
	.displaystyle{
	display:flex;
	}
	img{
		max-width:initial;
	}
	.profile{
		width:40px;
		height:40px;
	}
	.card-md{
		width:100%;
		margin: 0 0 15px 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow:none;
	}
	.card-content-md {
	    padding: 0px 10px;
	    font-size: 1.4rem;
	    line-height: 1.5;
	}
	#footer{
		position:absolute;
	   	bottom:0;
	   	width:100%;
	   	background-color: #ffaa14;
	   
	}

	.btn-app{
		background:#ffaa14;
		border: white 1px solid;
		width: 100%;
		text-transform:none;
	}
	.btn-app:hover{
		background-color: #ffaa14;
		background: #ffaa14;
		opacity:0.6;
		
	}

	.datetime{
	text-align: right;
	font-size: 1.0rem;
	}

}
