page-msg-detailed {

	.toolbar-background-md{
		background: #fa6414;
		
	}
	.back-button.show-back-button, .toolbar-title {
		color:white;
		text-align: center;
	}
	.toolbar-md{
		min-height: auto;
	}
	.item-date{
		color: #999999;
		font-size:13px;
	}
}
