page-coinsintroduction {
.toolbar-background-md,  .header-ios .toolbar-ios:last-child .toolbar-background-ios{
		background: #ffaa14;
	
	}
	.back-button.show-back-button, .toolbar-title {
		color:white;
		text-align: center;
		font-size: 16px;
	}	
	.toolbar-md{
		min-height: auto;
	}
.imageicon{
	width: 30px;
	height: 30px;
}
.card-title-md{
	margin:0px;
	padding: 5px 0px;
}

ion-card-title
{
	text-align: center;
}

#cardcolor{
	background-color:#ffd489;
	border-radius: 5px;
}

#contentbg
{
	background-color:white;
	text-align:center;
	margin:5px;
	}


	.btn-app{
	background:#ffaa14;
	border: white 1px solid;
	width: 100%;
	text-transform: none;
}
.btn-app:hover{
	background-color: #ffaa14;
	background: #ffaa14;
	opacity:0.6;
	
}
#imgspecial{
	width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}
