// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@media screen and (min-width: 678px) {
    #revoapp{
		width:33%;
		margin-left:33%
	}
}
.button-inner{
    font-size:11px;
}
.back-button.show-back-button{
    display:none;
    }
    .toolbar-title {
    padding:5px;
    }
ion-header{
    background:white;
}
.alert-md .alert-head{
    text-align:center;
}
    .notification{
        background: red;
        position: absolute;
        left: 50%;
        top: 44%;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        padding: 5px 0px;
        font-size: 11px;
           
    }
.gray-content{
        background:#f0f0f0;
    }
.lbl-gray{
        color: #666666;
    }
    .tabIcon{
        
        margin:auto;
        display:block;
    }
.menu-item{
	cursor:pointer;
}
    .logo{
        padding: 0px;
        display: block;
        color: #cccccc;
        width: 75px;
        height: 30px;
        margin:auto;
    }

 .toolbar-title{
    text-align: center;
    color: #b3b3b4;
    font-weight: 400;
    }


	.footercopyright{
	 	text-align: center;
	    color : #b3b3b4;
	    font-size: 1rem;
	    font-weight: 800;
    }
    .logout{
        padding:0 20px;
    }
    .btn-logout{
        width:60%;
    }
    #menuiconswidth{
        width: auto;
        height:auto;
        border-radius:inherit;
    }
    .menu-icon{
        min-width:auto !important;
        min-Height:auto !important;
    }
    .md .menu-inner{
        opacity:0.9;
    }
    .menu-item .item-inner{
        border:none !important;
    }
    .menu-item .list-ios .item-block .item-inner{
        border: none !important;
    }
    .menu-inner{
        width:100%;
    }
    .menu-item{
        border-bottom: 1px solid #dedede;
        padding: 0px 10% !important;
    }
    .button-outline-md-dark{
        border-color:#666666;
        color:#666666;
        padding: 24px 0px;
        margin: auto;
    }
    #file-input {
      opacity: 0;
      background: #CCC;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      left: 0;
      z-index: 999;
    }
    .bubble{

  border:1px solid #C4C4C4;
 
    color:#333;
    margin-top:5px;
    text-align:center;  
}
.bubble-main{
    display:inline-blockd;

    font-size:12px;
}
.bubble-main p{
    line-height:1.7;
}
.arrow-before, 
.arrow-after{
    position: absolute;
    width:0;
    height:0;
    border:15px dashed transparent;
    font-size:0;
}
.arrow-after {
    border: 14px dashed transparent;
}
/*向上*/
.bubble-top .arrow-before, 
.bubble-top .arrow-after{
    bottom:100%;
    left:15%;
}
.bubble-top .arrow-before{
    border-bottom-style:solid;
    border-bottom-color:#C4C4C4;
    margin-left:-15px;
}
.bubble-top .arrow-after{
    border-bottom-style:solid;
    border-bottom-color:white;
    margin-left:-14px;
}

.ios{
    .footercopyright{
        margin-top: 58px;
    }
}
    
