page-management {

	.toolbar-background-md{
		background: #195a87;
	
	}
	.back-button.show-back-button, .toolbar-title {
		color:white;
		text-align: center;
		font-size: 16px;
	}	
	.toolbar-md{
		min-height: auto;
	}
}
