page-daily-news-recept-box {
	
	.toolbar-background-md{
		background: #b957a0;
	
	}
	 .item-md [item-end]{
		text-align:right
	}
	.back-button.show-back-button, .toolbar-title {
		color:white;
		text-align: center;
		font-size: 16px;
	}	
	.toolbar-md{
		min-height: auto;
	}
	.btn-app{
		background:#b957a0;
		border: white 1px solid;
		width: 100%;
		text-transform: none;
	}
	.btn-app:hover{
		background-color: #b957a0;
		background: #b957a0;
		opacity:0.6;
		
	}

}
