<ion-header>
 <ion-row style="box-shadow: 0px 0px 3px #ccc;">
    <ion-col col-4>
      <img src="assets/dashboard/Pic (5).png"  (click)="message()" style="height: 30px; width:40px">
      <ion-badge class="notification" style="left:27%">26</ion-badge>
     
    </ion-col>
    <ion-col col-6><img class="logo" (click)="dashboard()" src="{{Logos}}" />
    </ion-col>
    <ion-col col-2>
      <img item-right src="assets/dashboard/Pic (4).png" menuToggle="right"  style="height: 30px; width:30px">
    </ion-col>
  </ion-row>
  <ion-row>
 <ion-col col-3>
    <img class="tabIcon" (click)="myProfile()" src="assets/profile.png" />
  </ion-col>
  <ion-col col-3>
       <img class="tabIcon" (click)="contacts()" src="assets/contact.png" />
    <ion-badge class="notification">2</ion-badge>
  </ion-col>
  <ion-col col-3>
        <img  (click)="dailyNews()"  class="tabIcon" src="assets/daily.png"  />
    <ion-badge class="notification">26</ion-badge>
  </ion-col>
  <ion-col col-3>
       <img class="tabIcon" (click)="timeline()" src="assets/coinActive.png"/>
  </ion-col>
</ion-row>
  <ion-navbar >
      <ion-title>{{ 'Send Coins' | translate }}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="gary-content">
	<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
		<ion-item>
	  		<ion-label>Select Company</ion-label>
			  <ion-select [(ngModel)]="toppings" >
			    <ion-option >Black Olives</ion-option>
			    <ion-option>Black Olives</ion-option>
			    <ion-option>Extra Cheese</ion-option>
			    <ion-option>Mushrooms</ion-option>
			    <ion-option>Pepperoni</ion-option>
			    <ion-option>Sausage</ion-option>
			  </ion-select>
		</ion-item>
		<ion-item>
	  		<ion-label>Select Department</ion-label>
			  <ion-select [(ngModel)]="toppings" >
			    <ion-option *ngFor="let depart of Department" [value]="depart">{{depart.DepartmentName}}</ion-option>
			  </ion-select>
		</ion-item>
		<ion-item>
	  		<ion-label>Select Store</ion-label>
			  <ion-select [(ngModel)]="toppings" >
			    <ion-option>Bacon</ion-option>
			    <ion-option>Black Olives</ion-option>
			    <ion-option>Extra Cheese</ion-option>
			    <ion-option>Mushrooms</ion-option>
			    <ion-option>Pepperoni</ion-option>
			    <ion-option>Sausage</ion-option>
			  </ion-select>
		</ion-item>
		<ion-list>
			<ion-item *ngFor="let employes of Employees">
				<ion-avatar item-start>
		        	<img src="{{employes.EmployeeImage}}" (click)="userProfile(employes.EmployeeID)">
			      </ion-avatar>
			      <h3>{{employes.EmployeeName}}</h3>

			      <span item-end class="badge-title" (click)="coinSelect(employes)"> <img src="assets/coinImg.png" class="tabIcon" />Send</span>
			</ion-item>
			
		</ion-list>

</ion-content>
<ion-footer>
  <ion-row class="toolbar-background-md" >
      <ion-col col-3>
      <button ion-button round class="btn-app" (click)="timeline()">{{ 'TimeLine' | translate }}</button>
    </ion-col>
    <ion-col col-3>
      <button ion-button round class="btn-app" (click)="ranking()">{{ 'Ranking' | translate }}</button>
    </ion-col>
    <ion-col col-3>
      <button ion-button round class="btn-app" (click)="coinsintro()">{{ 'Introduction' | translate }}</button>
    </ion-col>

    <ion-col col-3>
      <button ion-button round class="btn-app" (click)="coinSend()">{{ 'Send Coins' | translate }}</button>
    </ion-col>
  </ion-row>  
 </ion-footer>


