<ion-header>
 <ion-row style="box-shadow: 0px 0px 3px #ccc;">
    <ion-col col-4>
      <img src="assets/dashboard/Pic (5).png"  (click)="message()" style="height: 30px; width:40px">
      <ion-badge class="notification" style="left:27%">{{Messages}}</ion-badge>
     
    </ion-col>
    <ion-col col-4><img class="logo" (click)="dashboard()" src="{{Logos}}" />
    </ion-col>
    <ion-col col-4>
      <img item-right src="assets/dashboard/Pic (4).png" menuToggle="right"  style="height: 30px; width:30px; position: absolute; right: 10px">
    </ion-col>
  </ion-row>
  <ion-row>
 <ion-col col-3>
    <img class="tabIcon" (click)="myProfile()" src="assets/profile.png" />
  </ion-col>
  <ion-col col-3>
       <img class="tabIcon" (click)="contacts()" src="assets/contact.png" />
    <ion-badge class="notification">{{ContactBook}}</ion-badge>
  </ion-col>
  <ion-col col-3>
        <img  (click)="dailyNews()"  class="tabIcon" src="assets/daily.png"  />
    <ion-badge class="notification">{{DailyNews}}</ion-badge>
  </ion-col>
  <ion-col col-3>
       <img class="tabIcon" (click)="timeline()" src="assets/coinActive.png"/>
  </ion-col>
</ion-row>
  <ion-navbar >
      <ion-title>{{ 'Send Coins' | translate }}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="gary-content">
	<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
		<ion-item>
	  		<ion-label>Select a group</ion-label>
			  <ion-select [(ngModel)]="company" >
          <ion-option  [value]="CompanyName">{{CompanyName}}</ion-option>
			  </ion-select>
		</ion-item>
		<ion-item>
        <ion-label>Select a medium size group</ion-label>
        <ion-select [(ngModel)]="depart" (ionChange)="setStoreValues(depart)">
          <ion-option *ngFor="let depart of Department" [value]="depart">{{depart.DepartmentName}}</ion-option>
        </ion-select>
		</ion-item>
		<ion-item>
        <ion-label>Select a small size group</ion-label>
        <ion-select [(ngModel)]="store" (ionChange)="filterEmployees(store)">
          <ion-option *ngFor="let departstore of SelectedStore " [value]="departstore">{{departstore.StoreName}}</ion-option>
        </ion-select>
		</ion-item>
		<ion-list>
			<ion-item *ngFor="let employes of filterEmployee">
				<ion-avatar item-start>
		        	<img src="{{employes.EmployeeImage}}" (click)="userProfile(employes.EmployeeID)">
			      </ion-avatar>
			      <h3>{{employes.EmployeeName}}</h3>

			      <span item-end class="badge-title" (click)="coinSelect(employes)"> <img src="assets/coinImg.png" class="tabIcon" />Send</span>
			</ion-item>
			
    </ion-list>
    

</ion-content>
<ion-footer>
  <ion-row class="toolbar-background-md" >
      <ion-col col-3>
      <button ion-button round class="btn-app" (click)="timeline()">{{ 'TimeLine' | translate }}</button>
    </ion-col>
    <ion-col col-3>
      <button ion-button round class="btn-app" (click)="ranking()">{{ 'Ranking' | translate }}</button>
    </ion-col>
    <ion-col col-3>
      <button ion-button round class="btn-app" (click)="coinsintro()">{{ 'Introduction' | translate }}</button>
    </ion-col>

    <ion-col col-3>
      <button ion-button round class="btn-app" (click)="coinSend()">{{ 'Send Coins' | translate }}</button>
    </ion-col>
  </ion-row>  
 </ion-footer>


