page-coin-send {
.toolbar-background-md,  .header-ios .toolbar-ios:last-child .toolbar-background-ios{
    background: #ffaa14;
  
  }
  .back-button.show-back-button, .toolbar-title {
    color:white;
    text-align: center;
    font-size: 16px;
  } 
  .toolbar-md{
    min-height: auto;
  }

  .badge-title{
    color: #ffaa14;
    font-weight:bold;
    display:inline-block;
    text-align:center;
    img{
    	width:40px;
    }
  }


.btn-app{
	background:#ffaa14;
	border: white 1px solid;
	width: 100%;
	text-transform:none;
}
.btn-app:hover{
	background-color: #ffaa14;
	background: #ffaa14;
	opacity:0.6;
	
}
}
